{
  "swagger": "2.0",
  "info": {
    "title": "BAM API Callback",
    "version": "1.0.0",
    "description": "Api callback de l'application de fonds commun de placement de Bridge Asset Management"
  },
  "host": "verolive-secure.com/apibam",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/acteurs/onbording/callback": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "ref",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "idClient": {
                  "example": "any"
                },
                "numeroCompteEspece": {
                  "example": "any"
                },
                "numeroCompteTitre": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/operations/callback": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "ref",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "idClient": {
                  "example": "any"
                },
                "idOperationClient": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    }
  }
}