{
  "swagger": "2.0",
  "info": {
    "title": "BAM API Callback",
    "version": "1.0.0",
    "description": "Api callback de l'application de fonds commun de placement de Bridge Asset Management"
  },
  "host": "bam.mediasoftci.net/api/bamcallbk",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/auth/login": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "example": "any"
                },
                "password": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/v1/acteurs/onbording/callback": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "ref",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "IdClient": {
                  "example": "any"
                },
                "NumeroCompteEspece": {
                  "example": "any"
                },
                "NumeroCompteTitre": {
                  "example": "any"
                },
                "Status": {
                  "example": "any"
                },
                "Email": {
                  "example": "any"
                },
                "Tel": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/acteurs/mouvements/callback": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "ref",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "IdClient": {
                  "example": "any"
                },
                "IdMouvement": {
                  "example": "any"
                },
                "Status": {
                  "example": "any"
                },
                "IdFcp": {
                  "example": "any"
                },
                "LibelleFcp": {
                  "example": "any"
                },
                "TypeMouvement": {
                  "example": "any"
                },
                "Montant": {
                  "example": "any"
                },
                "MontantDebit": {
                  "example": "any"
                },
                "MontantCredit": {
                  "example": "any"
                },
                "DateMouvement": {
                  "example": "any"
                },
                "DateValeur": {
                  "example": "any"
                },
                "Email": {
                  "example": "any"
                },
                "Tel": {
                  "example": "any"
                },
                "NumeroCompteEspece": {
                  "example": "any"
                },
                "NumeroCompteTitre": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/acteurs/operations/callback": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "ref",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "IdClient": {
                  "example": "any"
                },
                "IdOperationClient": {
                  "example": "any"
                },
                "Status": {
                  "example": "any"
                },
                "NumeroCompteEspece": {
                  "example": "any"
                },
                "NumeroCompteTitre": {
                  "example": "any"
                },
                "IdFcp": {
                  "example": "any"
                },
                "LibelleFcp": {
                  "example": "any"
                },
                "Email": {
                  "example": "any"
                },
                "NombreDePart": {
                  "example": "any"
                },
                "ValeurLiquidative": {
                  "example": "any"
                },
                "MontantNet": {
                  "example": "any"
                },
                "Tel": {
                  "example": "any"
                },
                "TypeOperation": {
                  "example": "any"
                },
                "MontantTotal": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}